<!DOCTYPE html>
<html>
    <head>
        <title>表单操作</title>
    </head>
    <body>
        <div id="app">
           <form>
               <div>
                   <span>姓名：</span>
                   <input type="text" v-model="name">
               </div>
               <div>
                    <span>性别：</span>
                    <input type="radio" name="sex" value="1" v-model="sex">男
                    <input type="radio" name="sex" value="0" v-model="sex">女
                </div>
                <div>
                    <span>爱好：</span>
                    <input type="checkbox" value="1" v-model="live">篮球
                    <input type="checkbox" value="2" v-model="live">唱歌
                    <input type="checkbox" value="3" v-model="live">写代码
                </div>
                <div>
                    <span>职业：</span>
                    <select v-model="ziye">
                        <option value="1">教师</option>
                        <option value="2">软件工程师</option>
                        <option value="3">律师</option>
                    </select>
                </div>
                <div>
                    <span>简介：</span>
                    <textarea v-model="msg"></textarea>
                </div>
                <div>
                    <button @click.prevent="submit">提交</button>
                </div>
           </form>
        </div>
    </body>
    <script type="text/javascript" src="../js/vue.js"></script>
    <script type="text/javascript">
       var vm = new Vue({
           el: '#app',
           data: {
               name: '',
               sex: 1,
               live: [],
               ziye: 1,
               msg: ''
           },
           methods: {
            submit:function(){
                console.log("姓名:" + this.name);
                console.log("性别:" + this.sex);
                console.log("爱好:" + this.live);
                console.log("职业:" + this.ziye);
                console.log("简介:" + this.msg);
            }
           }
       });
    </script>
</html>