<!DOCTYPE html>
<html>
    <head>
        <title>简单计算器</title>
    </head>
    <body>
        <div id="app">
            <h1 v-text="title"></h1>
            <div>
                数值A: <input type="number" v-model="num_a">
            </div>
            <div>
                数值B: <input type="number" v-model="num_b">
            </div>
            <button v-on:click="jisuan">计算</button>
            <div>计算结果{{sum}}</div>
        </div>
    </body>
    <script type="text/javascript" src="../js/vue.js"></script>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                title: '简单计算器',
                num_a: '',
                num_b: '',
                sum: '',
            },
            methods: {
                jisuan: function(){
                    this.sum = Number(this.num_a) + Number(this.num_b);
                }
            }
        });

    </script>
</html>